*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* PARAGRAPH FONT */

.text-font{
    font-size: 1em;
    font-family: "Inter", sans-serif;
}

/* HEADER CSS */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222725;
    width: 100%;
}

.logo{
    text-decoration: none;
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    color: #f7f7f2;
}

.logo span, 
.hero-title span,
.title span,
.footer-container span{
    color: #e59500;
}

.navigation{
    display: flex;
    gap: 20px;
    padding: 0;
    margin-top: 25px;
}

.navigation li{
    list-style: none;
}

.navigation li a{
    display: inline-block;
    text-decoration: none;
    color: #f7f7f2;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    transition: transform 0.2s ease, color 0.2s ease;
}

.navigation li a:hover{
    /* transform: scale(1.15); */
    transform: scale(1.15);
    color: #e59500;
}

.menu-toggle{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.divider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    margin-top: -9px;
    overflow: visible;
    z-index: 100;
    pointer-events: none;
}

.rotated-triangle{
    transform: rotate(180deg);
}

/*  HERO SECTION */

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(https://images.unsplash.com/photo-1773069459477-e9fe9d6eeb60?q=80&w=1373&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    width: 100%; 
    height: 80vh; /* Viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: relative; /* activates the z-index */
}

.hero-title{
    font-size: 5em;
    padding: 10px;
    text-wrap: wrap;
    color: #f7f7f2;
}

.hero-content p{
    /* font-size: 1em;
    font-family: "Inter", sans-serif; */
    text-align: center;
    color: #f7f7f2;
}

.hero-content .btn{
    display: inline-block;
    margin-top: 40px;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    background-color: #e59500;
    color: #f7f7f2;
    font-family: "Inter", sans-serif;
    font-size: 1em;
}

.hero-content .btn:hover{
    background-color: #f7f7f2;
    color: #222725;
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
}



/* TESTIMONIALS SECTION */

.testimonials{
    background-color: #22272596;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 20;
}

.testimonials .title{
    color: #f7f7f2;
}

.testimonial-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 100%;
    gap: 2.5em;
}

.testimonial-content .box,
.team .box{
    width: 350px;
    padding: 40px;
    background-color: #f7f7f2;
    color: #2f2f2f;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.3);
    border-top: 4px solid #e59500;
}

.testimonial-content .box:nth-child(1),
.testimonial-content .box:nth-child(2),
.testimonial-content .box:nth-child(3){
    margin-bottom: 10px;
}

.testimonial-content .box:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.testimonial-content .box .imgbox,
.team .box .imgbox{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}

.testimonial-content .box .imgbox img,
.team .box .imgbox img{
    border-radius: 8px;
    object-fit: cover;
    object-position: center top;
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.2);
}

.testimonial-content .box:first-child .imgbox img,
.team .box:first-child .imgbox img{
    object-position: center;
}

.box p{
    /* font-family: "Inter", sans-serif;
    font-size: 1em; */
    color: #222725;
    padding: 10px 10px 20px;
    text-wrap: wrap;
    text-align: center;
}

.box h3{
    font-family: "Inter", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

/* CONTACT SECTION */

.contact{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://images.pexels.com/photos/15212812/pexels-photo-15212812.jpeg);
    background-size: cover;
    padding: 0px 20px 90px;
    background-color: #f7f7f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;
}

.contact-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0px 20px 30px;
}


.contact-wrapper{
    width: 100%;
    display: flex;
    margin-top: 30px;
    justify-content: flex-start;
}

.contact .title{
    align-self: flex-start;
    padding-left: 0px;
    color: #f7f7f2;
}

.contact .text-font{
    font-size: 0.8em;
}

.contactform{
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 25px;
    /* background: #f7f7f2; */
    background: rgba(247, 247, 242, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    /* align-self: flex-start; */
    /* flex-grow: 1; */
    letter-spacing: .1em;
    border-top: 4px solid #e59500;
    position: relative;
    z-index: 10;
}

.contactform h3{
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    color: #222725;
    
}

.contactform .inputbox{
    width: 100%;
    margin-bottom: 20px;
}

.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    border: 1px solid #22272596;
    color: #22272596;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    font-weight: 300;
    resize: none;
    font-size: 1em;
    font-family: "Inter", sans-serif;
}

.contactform .inputbox input[type="submit"]{
    background-color: #e59500;
    color: #f7f7f2;
    /* font-weight: 400; */
}

.contactform .inputbox input[type="submit"]:hover{
    background-color: #222725;
    color: #e59500;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.contact-img{
    border-radius: 8px;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.2);
}

.contact-img .stack-img.bottom{
    width: 100%;
    height: 450px;
}

.contact-img .stack-img.top{
    width: 100%;
    height: 250px;
}

/* FOOTER SECTION */

.footer-container{
    background-color: #f7f7f2;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.footer-text, .footer-links, .footer-right{
    flex: 1;
}

.footer-text{
    display: flex;
}

.footer-logo{
    height: 50px;
    width: 50px;
    margin: 0px 10px
    /* png image from pngtree.com */
}

.footer-container .footer-text p{
    font-family: "Playfair Display", serif;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 1em;
}

.footer-links{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0 40px;
}

.footer-right{
    display: flex;
    justify-content: flex-end;
}

.footer-links i{
    color: #222725;
    font-size: 1.5em;
}

.footer-links i:hover{
    transform: scale(1.15);
    color: #e59500;
    transition: transform 0.3s ease;
}


/* BACK TO TOP BUTTON */

#backToTop {
    display: none; /* Hidden by default */
    bottom: 30px; 
    right: 30px; 
    z-index: 999; 
    border: none; 
    outline: none; 
    background-color: #e59500; 
    color: white; 
    cursor: pointer; 
    padding: 10px 15px; 
    border-radius: 5px; /* Circle shape */
    font-size: 1.2em;
    transition: 0.3s;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

#backToTop:hover {
    background-color: #222725; /* Switch to your dark green on hover */
    transform: scale(1.1);
}

/* ABOUT PAGE */

.active-link{
    color: #e59500 !important;
    font-weight: bold;
    border-bottom: 2px solid #e59500;
}

.about{
    background-color: #22272596;
    color: #f7f7f2;
    position: relative;
    padding-bottom: 100px;
    z-index: 10;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
}


.about-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    min-height: auto; 
    padding: 20px 50px; 
    gap: 40px;
}

.about .col-50 .title {
    font-size: 2em;
    margin-top: 0;      
    padding: 0px 0px 20px 0px;
}

.about .title{
    font-size: 3em;
}

.col-50{
    flex: 1;
}


.col-50 img{
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
}

.image-stack-container{
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 500px;
    margin: 50px auto;
}

.stack-img {
    position: absolute;
    border-radius: 12px;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.2);
    object-fit: cover;
    transition: transform 0.3s ease;
}

.stack-img.bottom{
    width: 80%;
    height: 600px;
    top: 0;
    left: 0;
    z-index: 1;
}


.stack-img.top{
    width: 60%;
    height: 300px;
    bottom: -150px;
    right: 0;
    z-index: 2;
    /* border: 5px solid #f7f7f2; */
}


/* MEET OUR TEAM SECTION -- ABOUT PAGE */

.team{
    background-color: #f7f7f2;
}

.team-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px 40px 20px;
    gap: 20px;
}
.team .box .imgbox{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.team .box{
    background-color: #e4e4d7;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.team .box:nth-child(4) img,
.team .box:nth-child(5) img,
.team .box:nth-child(6) img{
    object-position: center;
}

.team .box:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.team .box h4{
    font-family: "Inter", sans-serif;
    text-align: center;
    margin-top: 5px;
}


/* HOW TO BOOK SECTION -- ABOUT PAGE */

.booking-process h2{
    color: #f7f7f2;
}

.booking-process {
    background-color: #222725;
    color: #f7f7f2;
    padding: 60px 20px;
    text-align: center;
}

.process-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.process-container ol {
    margin: 30px 0;
    padding-left: 20px;
}

.process-container li {
    margin-bottom: 20px;
    line-height: 1.6;
}

.process-container li strong {
    color: #e59500;
    text-transform: uppercase;
    display: block;
    font-size: 1.1em;
}

/* External Link Styling */
.external-link-wrap {
    margin-top: 40px;
    text-align: center;
}

.external-link {
    color: #e59500;
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
}

.external-link:hover {
    color: #f7f7f2;
}



/* EVENTS PAGE */
.event-schedule{
    background-color: #f7f7f2;
    padding-bottom: 30px;
}
.event-table{
    width: 90%;
    margin: 40px auto;
    border-collapse: collapse;
    font-family: "Inter", sans-serif;
    background-color: #f7f7f2;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

.event-table thead{
    background-color: #222725;
    color: #e59500;
}

.event-table th, .event-table td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.event-table tr:hover{
    background-color: #22272596;
}

/* GALLERY SECTION -- EVENTS PAGE*/

.gallery{
    background-color: #f7f7f2;
    position: relative;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px 20px 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-grid img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery-grid img:hover{
    transform: scale(1.05);
}

.title{
    font-family: "Playfair Display", serif;
    font-size: 1.4em;
    /* text-transform: uppercase; */
    letter-spacing: 1.1px;
    padding: 20px 0 0 20px ;
    color: #222725;
}

/* GALLERY PAGE */

.large-grid {
    display: grid;
    grid-template-columns: 1fr; /* One giant image per row */
    gap: 50px;
    max-width: 1000px;
    margin: 40px auto 0;
    padding: 0 20px 20px;
}

.large-grid img {
    width: 100%;
    height: auto; /* Maintains the original aspect ratio */
    border-radius: 12px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.large-grid figcaption {
    text-align: center;
    font-family: "Inter", sans-serif;
    margin-top: 15px;
    color: #222725;
}

/* MOBILE DEVICE STYLING */

@media only screen and (max-width: 599px){
    .menu-toggle{
        display: block;
        font-size: 2em;
        z-index: 1001;
    }

    header .navigation{
        display: none;
        flex-direction: column;
        position: absolute;
        color: #f7f7f2;
        top: 170px; /* Position ourself below the navbar */
        left: 0;
        right: 0;
        padding: 20px 0;
        z-index: 1000; /* Staying above other elements */
        gap: 10px;
    }

    header .navigation.active{
        display: flex;
}

    header .navigation li{
        text-align: center;
        width: 100%;
}

    header .navigation li a{
        text-decoration: none;
        color: #2f2f2f;
        font-weight: 400;
        font-size: 1.2em;
        padding: 10px;
        display: block;
}

    header .navigation li a:active{
        color: #e59500;
        transform: scale(.98);
        transition: transform 0.3s ease;
}

.team-container{
    grid-template-columns: 1fr;
}

}