*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* PARAGRAPH FONT */

.text-font{
    font-size: 1em;
    font-family: "Inter", sans-serif;
}

/* HEADER CSS */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222725;
    width: 100%;
}

.logo{
    text-decoration: none;
    font-size: 2.5em;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    color: #f7f7f2;
}

.logo span, 
.hero-title span,
.title span,
.footer-container span{
    color: #e59500;
}

.navigation{
    display: flex;
    gap: 20px;
    padding: 0;
    margin-top: 25px;
}

.navigation li{
    list-style: none;
}

.navigation li a{
    display: inline-block;
    text-decoration: none;
    color: #f7f7f2;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    transition: transform 0.2s ease, color 0.2s ease;
}

.navigation li a:hover{
    /* transform: scale(1.15); */
    transform: scale(1.15);
    color: #e59500;
}

.menu-toggle{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.divider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    margin-top: -9px;
    overflow: visible;
    z-index: 100;
    pointer-events: none;
}

.rotated-triangle{
    transform: rotate(180deg);
}

/*  HERO SECTION */

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(https://images.unsplash.com/photo-1773069459477-e9fe9d6eeb60?q=80&w=1373&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    width: 100%; 
    height: 80vh; /* Viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: relative; /* activates the z-index */
}

.hero-title{
    font-size: 5em;
    padding: 10px;
    text-wrap: wrap;
    color: #f7f7f2;
}

.hero-content p{
    /* font-size: 1em;
    font-family: "Inter", sans-serif; */
    text-align: center;
    color: #f7f7f2;
}

.hero-content .btn{
    display: inline-block;
    margin-top: 40px;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    background-color: #e59500;
    color: #f7f7f2;
    font-family: "Inter", sans-serif;
    font-size: 1em;
}

.hero-content .btn:hover{
    background-color: #f7f7f2;
    color: #222725;
    transform: scale(1.1);
}

/* GALLERY SECTION */

.gallery{
    background-color: #f7f7f2;
    position: relative;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery-grid img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.gallery-grid img:hover{
    transform: scale(1.05);
}

.title{
    font-family: "Playfair Display", serif;
    font-size: 1.4em;
    /* text-transform: uppercase; */
    letter-spacing: 1.1px;
    padding: 20px 0 0 20px ;
    color: #222725;
}

/* TESTIMONIALS SECTION */

.testimonials{
    background-color: #22272596;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;
}

.testimonials .title{
    color: #f7f7f2;
}

.testimonial-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 100%;
    gap: 2.5em;
}

.testimonial-content .box{
    width: 350px;
    padding: 40px;
    background-color: #f7f7f2;
    color: #2f2f2f;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.3);
    border-top: 4px solid #e59500;
}

.testimonial-content .box:nth-child(1),
.testimonial-content .box:nth-child(2),
.testimonial-content .box:nth-child(3){
    margin-bottom: 10px;
}

.testimonial-content .box:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.testimonial-content .box .imgbox{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}

.testimonial-content .box .imgbox img{
    border-radius: 8px;
    object-fit: cover;
    object-position: center top;
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.2);
}

.testimonial-content .box:first-child .imgbox img{
    object-position: center;
}

.box p{
    /* font-family: "Inter", sans-serif;
    font-size: 1em; */
    color: #222725;
    padding: 10px 10px 20px;
    text-wrap: wrap;
    text-align: center;
}

.box h3{
    font-family: "Inter", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

/* CONTACT SECTION */

.contact{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1714276729981-da1b0a0a40af?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    padding: 0px 20px 20px;
    background-color: #f7f7f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;
}

.contact-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    justify-content: flex-start;
}

.contact .title{
    align-self: flex-start;
    padding-left: 0px;
    color: #f7f7f2;
}

.contact .text-font{
    font-size: 0.8em;
}

.contactform{
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 25px;
    /* background: #f7f7f2; */
    background: rgba(247, 247, 242, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    align-self: flex-start;
    flex-grow: 1;
    letter-spacing: .1em;
    border-top: 4px solid #e59500;
}

.contactform h3{
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    color: #222725;
    
}

.contactform .inputbox{
    width: 100%;
    margin-bottom: 20px;
}

.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    border: 1px solid #22272596;
    color: #22272596;
    border-radius: 8px;
    padding: 10px;
    outline: none;
    font-weight: 300;
    resize: none;
    font-size: 1em;
    font-family: "Inter", sans-serif;
}

.contactform .inputbox input[type="submit"]{
    background-color: #e59500;
    color: #f7f7f2;
    /* font-weight: 400; */
}

.contactform .inputbox input[type="submit"]:hover{
    background-color: #222725;
    color: #e59500;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* FOOTER SECTION */

.footer-container{
    background-color: #f7f7f2;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.footer-container p{
    font-family: "Playfair Display", serif;
    display: inline-block;
    margin-top: 20px;
    font-size: 1em;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin: 0 40px;
}

.footer-links i{
    color: #222725;
    font-size: 1.5em;
}

.footer-links i:hover{
    transform: scale(1.15);
    color: #e59500;
    transition: transform 0.3s ease;
}








/* MOBILE DEVICE STYLING */

@media only screen and (max-width: 599px){
    .menu-toggle{
        display: block;
        font-size: 2em;
        z-index: 1001;
    }

    header .navigation{
        display: none;
        flex-direction: column;
        position: absolute;
        color: #f7f7f2;
        top: 170px; /* Position ourself below the navbar */
        left: 0;
        right: 0;
        padding: 20px 0;
        z-index: 1000; /* Staying above other elements */
        gap: 10px;
    }

    header .navigation.active{
        display: flex;
}

    header .navigation li{
        text-align: center;
        width: 100%;
}

    header .navigation li a{
        text-decoration: none;
        color: #2f2f2f;
        font-weight: 400;
        font-size: 1.2em;
        padding: 10px;
        display: block;
}

    header .navigation li a:active{
        color: #e59500;
        transform: scale(.98);
        transition: transform 0.3s ease;
}

}